* {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: brown;
  padding-top: 4rem;
}

h2 {
  padding-top: 1%;
}

h2 a {
  font-size: 1.6rem;
  text-decoration: none;
  color: brown;
}

h2 a:hover {
  color: brown;
}

.postcontainer h2 {
  color: brown;
  padding-bottom: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: brown;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 7px;
  text-decoration: none;
}

.session {
  font-weight: bold;
  display: block;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  color: rgb(252, 193, 142);
}

li a:hover {
  background-color: sandybrown;
  color: white;
}

li .sortoptions {
  cursor: pointer;
  display: block;
  color: white;
  text-align: center;
  padding: 7px;
  text-decoration: none;
}

li .sortoptions:hover {
  background-color: sandybrown;
}

.container-md {
  background-color: rgb(241, 216, 194);
}

.dropdown {
  background-color: rgb(121, 31, 31);
  display: none;
  flex-direction: column;
  width: 8.5vw;
  height: 40%;
  padding: 0.475rem;
  margin-bottom: -5.7rem;
  position: relative;
  top: 0rem;
  right: 1rem;
  z-index: 1;
}

.dropdown.on {
  display: flex;
}

.belowpost {
  display: inline-block;
}

.editpost a {
  font-weight: bold;
  display: inline-block;
  color: brown;
  text-decoration: none;
}

.editcomment a {
  font-weight: bold;
  display: inline-block;
  color: brown;
  text-decoration: none;
}

.linkpost a {
  font-weight: bold;
  display: inline-block;
  color: brown;
  text-decoration: none;
}

#upvoteButton {
  height: 3vw;
  display: inline-block;
  top: -0.5rem;
  position: relative;
}

.arrowUp p {
  position: relative;
  top: 0.5rem;
}

.editcomment {
  display: inline-block;
}

.errormessage {
  color: red;
}

@media only screen and (max-width: 1024px) {
  .dropdown {
    width: 12.4vw;
  }
}

@media only screen and (max-width: 768px) {
  .dropdown {
    width: 16.5vw;
  }
}

@media only screen and (max-width: 320px) {
  .dropdown {
    width: 39.5vw;
    top: -2.1rem;
    right: 4%;
  }
}
