* {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: brown;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.errormessage {
  color: red;
}

.postcontainer {
  margin-top: 4.5rem;
  margin-left: 10rem;
  width: 20rem;
  height: auto;
}

.commentcontainer {
  margin-top: 4.5rem;
  margin-left: 10rem;
  width: 22rem;
  height: auto;
}

.comment {
  color: brown;
  font-weight: bold;
}

form * {
  width: 100%;
}

form {
  width: 200px;
}

.formcontainer {
  margin-top: 4.5rem;
  margin-left: 10rem;
}

.btn {
  background-color: brown;
  color: white;
}

.btn:hover {
  color: sandybrown;
}

@media only screen and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 20%;
    right: 25rem;
    top: 4rem;
  }
  .btn {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 35%;
    right: 0rem;
    top: 1.5rem;
  }

  .btn {
    width: 77%;
  }
}

@media only screen and (max-width: 320px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 80%;
    right: 0rem;
    top: 1.5rem;
  }

  img {
    max-width: 50%;
    max-height: 50%;
  }
}
