* {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: brown;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.errormessage {
  color: red;
}

.errorcontainer {
  color: red;
}

.postcontainer {
  margin-top: 4.5rem;
  margin-left: 10rem;
  width: 20rem;
  height: auto;
}

.commentcontainer {
  margin-top: 4.5rem;
  margin-left: 10rem;
  width: 22rem;
  height: auto;
}

.comment {
  color: brown;
  font-weight: bold;
}

form * {
  width: 100%;
}

form {
  width: 200px;
}

.formcontainer {
  margin-top: 4.5rem;
  margin-left: 10rem;
}

.btn {
  background-color: brown;
  color: white;
}

.btn:hover {
  color: sandybrown;
}

@media only screen and (max-width: 768px) {
  .formcontainer {
    margin-top: 3rem;
    margin-left: 5rem;
  }
  .postcontainer {
    margin-top: 2rem;
    margin-left: 5rem;
    width: 21rem;
    height: auto;
  }
  .commentcontainer {
    margin-top: 4.5rem;
    margin-left: 5rem;
    width: 21rem;
    height: auto;
  }
}

@media only screen and (max-width: 320px) {
  .formcontainer {
    margin-top: 2rem;
    margin-left: 3rem;
  }
  .postcontainer {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 17rem;
    height: auto;
  }
  .commentcontainer {
    margin-top: 4.5rem;
    margin-left: 1rem;
    width: 17rem;
    height: auto;
  }
}
