* {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: brown;
}

.container {
  display: flex;
  flex-direction: column;
  width: 14%;
  right: 30rem;
  position: relative;
  top: 4rem;
}

img {
  max-width: 50%;
  max-height: 50%;
}

.errormessage {
  color: red;
}

/* .container {
  top: 3rem;
  right: 30rem;
} */

.btn {
  background-color: brown;
  color: white;
  width: 107%;
  right: 0.1rem;
  position: relative;
}

.btn:hover {
  color: sandybrown;
}

@media only screen and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 20%;
    right: 25rem;
    top: 4rem;
  }
  .btn {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 35%;
    right: 0rem;
    top: 1.5rem;
  }

  .btn {
    width: 77%;
  }
}

@media only screen and (max-width: 320px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 80%;
    right: 0rem;
    top: 1.5rem;
  }

  img {
    max-width: 50%;
    max-height: 50%;
  }
}
